---
layout: generic
---

<!-- page title -->
<h2 class="ribbon blue full">Blog<span>The latest news from the developers</span> </h2>
<div class="triangle-ribbon blue"></div>
<br class="cl" />
<!-- page content -->
<div id="page-content" class="two-col container_12">
  <ul class="breadcrumbs">
    <li><a href="/">BitcoinJS</a> &raquo;</li>
    <li><a href="/blog.html">Blog</a> &raquo;</li>
    <li>{{ page.title }}
  </ul>
  <div class="grid_12">
    <h3>{{ page.title }}</h3>
    {{ content }}
  </div>
  <br class="cl" />
  <br />
</div>